.blink_me {
	-webkit-animation-name: blinker;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;

	-moz-animation-name: blinker;
	-moz-animation-duration: 1s;
	-moz-animation-timing-function: linear;
	-moz-animation-iteration-count: infinite;

	animation-name: blinker;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
@-moz-keyframes blinker {  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}
@-webkit-keyframes blinker {  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}
@keyframes blinker {  
	0% { opacity: 1.0; }
	50% { opacity: 0.0; }
	100% { opacity: 1.0; }
}

a :hover{
    text-decoration: none;
}


.invis{
    display: none;
}

#home{
    background-color: white;
    box-shadow: 100px 10px 10px;
}

#activator{
    position: absolute;
    left: 2%;
    z-index:1000;
    top:.5em;
    cursor: pointer;
}

#arduino{
    position: absolute;
    width: 5%;
    height: auto;
    top: 18%;
    left: 57%;
}

#jagah{
    margin-bottom: 20em;
    
}
.container-fluid{
    padding: 0;
}
.header{
    height: 5em;
    margin: 0;
    padding-top: 1.5em;
    position: fixed;
    z-index: 1000;
    width: 100%;
}