body {
  background: #dbdadb;
  padding-top: 10%;
}


#face
{
    height: 100px;
}

.tapanR1
{ 
    z-index: 10000;
    color: white;
    background-color: #066fa0;
    visibility: hidden;
    margin-top: -25px;
    
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
    border: 1px solid;
    border-color: #066fa0;
    
    opacity: 0.85;
    text-align: center;
    position: absolute;
    width: 95px;
}

.navbar-header:hover .tapanR1
{
    visibility: visible;
}

.tapanR2
{ 
    visibility: hidden;
}

.navbar-header:hover .tapanR2
{
    visibility: hidden;
}

.iText
{
    color: white;
    background: #066fa0;
    visibility: hidden;
    margin-top: 25px;
    
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 5px;
    border: 1px solid;
    border-color: #066fa0;
}

.jText
{
    color: #066fa0;
    visibility: visible;
    text-align:center;
    margin-top: -15px;
}

.active #aboutMe
{
    z-index: 1000;
}

.active .jText
{
    color: white;
}

.jText img
{
    visibility: hidden;
}

#swankyBar
{   
    z-index: 2000;
    top: 0px;
    left: 0px;
    
    position: fixed;
    height: 2px;
    width: 100%;
    background: #066fa0;
}

#face2 {
     z-index: 2000;
    position: relative;
    height: 101px;
    margin-left: -4px;
    margin-bottom: 0px;
    margin-right: -4px;
}


#face3 {
   visibility: hidden;
    height: 101px;
    position: relative;
    margin-left: -10px;
    top: 1.0%;
    z-index: 2;
}

#nvBar
{
    margin-left: 0px;
    margin-top: 19px;
    height: 61px;
    background: white;
}


#navBarTop
{
    background: #dbdadb;
}

#aboutMe
{
    
    border-right: 1px;
    border-color: white;
}

#aboutImg
{
    width: 30px;
    height: 28px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../img/about.png');
    margin-top: -4px;
}

#aboutMe:hover #aboutImg
{
    background-image: url(../img/aboutH.png);
}


.active #aboutImg
{
    background-image: url(../img/aboutIn.png);
}

.active #aboutMe:hover #aboutImg
{
    background-image: url(../img/aboutIn.png);
}

#aboutMe:hover .iText
{
    margin-left: 75px;
    visibility: visible;
    width: 75px;
    border: 0px;
}

#aboutMe:hover .iText img
{
    position: absolute;
    left: 47.5%;
    top: 64px;
  
}

#resume:hover .iText
{
    margin-left: 75px;
    visibility: visible;
    width: 75px;
    border: 0px;
}

#resume:hover .iText img
{
    position: absolute;
    left: 47.5%;
    top: 64px;
    visibility: visible; 
}

#contact:hover .iText
{
    margin-left: 80px;
    visibility: visible;
    width: 80px;
}

#contact:hover .iText img
{
    position: absolute;
    left: 47.5%;
    top: 64px;
    visibility: visible; 
}



#projects
{  background-color: white;
    border-right: 1px;
border-color: white;
}

.active #projects
{
    background-color:  #066fa0;
}

#projImg
{
    width: 30px;
    height: 30px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../img/proj.png');
    margin-top: -5px;
}

#projects:hover #projImg
{
    background-image: url(../img/projH.png);
}

.active #projImg
{
    background-image: url(../img/projIn.png);
}

.active #projects:hover #projImg
{
    background-image: url(../img/projIn.png);
}


#projects:hover .iText
{
    margin-left: 75px;
    visibility: visible;
    width: 75px;
}

#projects:hover .iText img
{
    position: absolute;
    left: 47.5%;
    top: 64px;
  
}


#resume
{
    background-color: white;
    border-right: 1px;
}

.active #resume
{
    background-color: 
        #066fa0;
}

#resImg
{
    width: 30px;
    height: 30px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../img/resume.png');
    margin-top: -5px;
}

#resume:hover #resImg
{
    background-image: url(../img/resumeH.png);
}

.active #resImg
{
    background-image: url(../img/resumeIn.png);
}

.active #resume:hover #resImg
{
    background-image: url(../img/resumeIn.png);
}


#conImg
{
    width: 30px;
    height: 30px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    background-image: url('../img/contact.png');
    margin-top: -5px;
}


#contact:hover #conImg
{
    background-image: url(../img/contactH.png);
}

.active #conImg
{
    background-image: url(../img/contactIn.png);
}

.active #contact:hover #conImg
{
    background-image: url(../img/contactIn.png);
}


#contact
{
    background-color: white;
}

.active #contact
{
    background-color: #066fa0;
}

.active >a
{
    -moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
    box-shadow:0px 1px 2px rgba(0,0,0,0.3);
    z-index: 0;
}

.inv1
{
    
    visibility: visible;
}

.inv2
{
    visibility: hidden;
}

.active 
{
    border: 0px;
}