

body {
  font: 14px/1 'Open Sans', sans-serif;
  color: #555;
  background: #20beef;
    overflow: hidden;
}



h1 {
  margin: 40px 0;
  font-size: 24px;
  text-align: center;
}



h1{
    font-weight: lighter;
    color: white;
    font-size: 3em;}

